<mat-card class="shipping-card">

  <div class="title">
    {{title}} Trigger (KubernetesEvent)
  </div>
  <mat-tab-group dynamicHeight>
    <mat-tab label="Form">
      <form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
        <div class="tab-content">
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Name" formControlName="name" [readonly]="isEdit">
                <mat-error *ngIf="addressForm.controls['name'].hasError('required')">
                  Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col input-desc">
              Name of created Diagnosis.
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <mat-select placeholder="OperationSet" formControlName="operationSet">
                  <mat-option *ngFor="let operationSet of operationSetList" [value]="operationSet">
                    {{ operationSet }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="addressForm.controls['operationSet'].hasError('required')">
                  OperationSet is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col input-desc">
              The name of referenced operation set in the generated diagnosis.
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="NodeName" formControlName="nodeName">
                <mat-error *ngIf="addressForm.controls['nodeName'].hasError('required')">
                  NodeName is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col input-desc">
              The default node which the diagnosis is on.
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="EventName" formControlName="eventName">
              </mat-form-field>
            </div>
            <div class="col input-desc">
              The regular expression for matching "Name" of kubernetes event.
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="EventNamespace" formControlName="eventNamespace">
              </mat-form-field>
            </div>
            <div class="col input-desc">
              The regular expression for matching "Namespace" of kubernetes event.
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="EventReason" formControlName="reason">
              </mat-form-field>
            </div>
            <div class="col input-desc">
              The regular expression for matching "Reason" of kubernetes event.
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="EventMessage" formControlName="eventMessage">
              </mat-form-field>
            </div>
            <div class="col input-desc">
              The regular expression for matching "Message" of kubernetes event.
            </div>
          </div>


          </div>
          <mat-card-actions align="end">
            <button mat-raised-button color="primary" type="submit">Submit</button>
            <a mat-button (click)="cancel()">Cancel</a>
          </mat-card-actions>

      </form>
    </mat-tab>
    <mat-tab label="Yaml">
      <form [formGroup]="yamlForm" (ngSubmit)="submitByYaml()">
        <div class="tab-content">
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <textarea matInput formControlName="yaml" class="textarea"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
        <mat-card-actions align="end">
          <button mat-raised-button color="primary" type="submit">Submit</button>
          <a mat-button (click)="cancel()">Cancel</a>
        </mat-card-actions>
      </form>

    </mat-tab>
  </mat-tab-group>

</mat-card>
