.operation-card {
  width: 100%;
  height: 180px;
  box-sizing: border-box;
  .operation-card-header {
    display: flex;
    color: #000;
    margin-top: 9px;
    height: 64px;

    .operation-card-header-icon {
      margin-top: 2px;
      width: 64px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .operation-card-header-info {
      margin-left: 12px;
      flex: 1;
      .info-name {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 8px;
        display:  flex;
        justify-content: space-around;
      }
      .info-item {
        width: 100%;
        font-size: 12px;
        line-height: 18px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        .fontW {
          font-weight: 500;
        }
      }
    }
    .operation-card-header-type {
      margin-left: auto;
      font-size: 12px;
      font-weight: 500;
    }
  }

  .operation-card-content {
    margin-top: 22px;
  }
  .operation-card-action {
    display: flex;
    justify-content: right;
  }
}

.HTTPServer {
  background-image: url('./../../assets/img/operation-http-server.svg');
}
.ScriptRunner {
  background-image: url('./../../assets/img/operation-script-runner.svg');
}
.Function {
  background-image: url('./../../assets/img/operation-function.svg');
}
