.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto 0;
  padding: 28px 40px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-bottom: 12px;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.col {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.tab-content {
  min-height: 400px;
  padding-top: 30px;
  box-sizing: border-box;
}

.input-desc {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.textarea {
  height: 320px;
  background-color: #f8f8f8;
}
.codeSource-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.codeSource {
  width: 100%;
  height: 280px;
  display: flex;

  .codeSource-key {
    width: 137px;
    height: 100%;
    background: rgba(234, 234, 234, 1);
    font-size: 12px;
    color: #000;
    transform: translateY(-2px);
    div {
      margin-top: 9px;
      padding-left: 7px;
      line-height: 19px;
    }
    .selectKey {
      background: rgba(248, 248, 248, 1);
    }
  }
  .codeSource-value {
    flex: 1;
  }
}
.codeSource-value {
  width: 100%;
  height: 100%;
  padding: none;
  margin: none;
}
.function-textarea {
  width: 100%;
  height: 280px;
  background: #f8f8f8;
  padding: 8px;
  box-sizing: border-box;
}
