.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto 0;
  padding: 28px 40px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-bottom: 12px;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.col {
  flex: 1;
  margin-right: 20px;
  .col-item {
    width: 100%;
    display: flex;
    .argKey-input {
      flex: 1;
    }
  }
}

.argKeys-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.col:last-child {
  margin-right: 0;
}

.tab-content {
  min-height: 400px;
  padding-top: 30px;
  box-sizing: border-box;
}

.input-desc {
  display: flex;
  align-items: center;
  font-size: 18px;
}
.argKeys-desc {
  display: flex;
  font-size: 18px;
}

.textarea {
  height: 320px;
  background-color: #f8f8f8;
  padding: 5px
}

.script-textarea {
  height: 160px;
  background-color: #f8f8f8;
  padding: 5px;
}
