<mat-card class="shipping-card">
  <div class="title">
    {{title}} Operation (ScriptRunner)
  </div>
  <mat-tab-group dynamicHeight>
    <mat-tab label="Form">
      <form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
        <div class="tab-content">
          <div class="row">
            <mat-form-field class="full-width">
              <textarea matInput formControlName="script" class="script-textarea"></textarea>
              <mat-error *ngIf="addressForm.controls['script'].hasError('required')">
                Script is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width" >
                <input matInput placeholder="Name" formControlName="name" [readonly]="isEdit">
                <mat-error *ngIf="addressForm.controls['name'].hasError('required')">
                  Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col input-desc">
              Name of created Diagnosis.
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput type="number" placeholder="TimeoutSeconds" formControlName="timeoutSeconds">
                <mat-error *ngIf="addressForm.controls['timeoutSeconds'].hasError('required')">
                  TimeoutSeconds is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col input-desc">
              Number of seconds after which the processor times out. Defaults to 30 seconds. Minimum value is 1.
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="OperationResultKey" formControlName="operationResultKey">
                <mat-error *ngIf="addressForm.controls['operationResultKey'].hasError('required')">
                  OperationResultKey is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col input-desc">
              The prefix of keys to store script stdout, stderr or error message in operationResults. Execution results
              will not be updated if not specified. </div>
          </div>
          <div class="argKeys-text">
            ArgKeys
          </div>
          <div class="row">
            <div class="col">
              <div class="col-item" formArrayName="argKeys" *ngFor="let key of argKeys.controls; let i = index">
                <mat-form-field class="argKey-input">
                  <input matInput placeholder="ArgKeys" [formControlName]="i">
                </mat-form-field>
                <a mat-icon-button *ngIf="i !== argKeys.length - 1" (click)="deleteDate(i)">
                  <img width="13" src="./../../../assets//img/delete.png">
                </a>
                <a mat-icon-button *ngIf="i === argKeys.length - 1" (click)="addData()">
                  <img width="13" src="./../../../assets//img/add.png">
                </a>
              </div>
            </div>

            <div class="col argKeys-desc">
              Contains a slice of keys in parameters or operationResults of Diagnosis. The script arguments are
              generated from specified key value pairs. No argument will be passed to the script if not specified.
            </div>
          </div>
          <mat-card-actions align="end">
            <button mat-raised-button color="primary" type="submit">Submit</button>
            <a mat-button (click)="cancel()">Cancel</a>
          </mat-card-actions>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Yaml">
      <form [formGroup]="yamlForm" (ngSubmit)="submitByYaml()">
        <div class="tab-content">
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <textarea matInput formControlName="yaml" class="textarea"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
        <mat-card-actions align="end">
          <button mat-raised-button color="primary" type="submit">Submit</button>
          <a mat-button (click)="cancel()">Cancel</a>
        </mat-card-actions>
      </form>

    </mat-tab>
  </mat-tab-group>
</mat-card>
